@squire: 100px;

body {
  color: white;
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

#play-board {
  margin: 30px;
}

.row {
  .col {
    display: inline-block;
    width: @squire;
    height: @squire;
    border: 1px solid gray;
  }
}